@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InfoServ Chat Room</h1>
    @*<p><a class="btn btn-default" href="/Home/chat">Try Now&raquo;</a></p>*@
    @Html.ActionLink("Try now", "Chat", "Home", routeValues: null, htmlAttributes: new { @class= "btn btn-primary" })
</div>

<div class="row">
</div>