@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InfoServ Chat Room</h1>
    <p><a class="btn btn-default" href="/Home/chat">Try Now&raquo;</a></p>
</div>

<div class="row">
</div>