
@if (Session["user"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right w-100" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-collapse font-weight-bold collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <li class="mr-3">
                    @Html.ActionLink("Hello " + Session["username"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }
}
else
{
    <div class="navbar-collapse font-weight-bold collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <li class="mr-3">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}


